.sideBar {
    display: flex;
    padding: 2.5rem 1.5625rem 2.9375rem 1.5625rem;
    flex-direction: column;
    align-items: center;
    gap: 2.125rem;
    flex-shrink: 0;
    background: #FFF;
    border-radius: 0rem 1.625rem 1.625rem 0rem;
    background: var(--main-white, #FFF);
    overflow: hidden;
}


.menu_item {
    cursor: pointer;
    font-family: Mulish;
    padding: 0.94rem 1.75rem;
    margin-block: .2rem;
}

.menu_item.active {
    border-radius: 0.375rem;
    background: #FECD07;

}

.menu_item:hover {
    background: #FECD07;
    border-radius: 0.375rem;
}

.logoutItem {
    margin: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: Mulish;
    padding: 0.94rem 1.75rem;
    margin-block: .2rem;

}

.logoutItem:hover {
    color: white;

    border-radius: 0.375rem;

}