@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Readex Pro', sans-serif;
}

.dashboard {
  background: #EEE;
}

.myCustomBtn {
  background-color: #FECD07;
}

.myCustomBtn:disabled {
  background-color: #747272;
  cursor:not-allowed;
  opacity: 0.5;
  /* color: white; */
}


@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

#toastAnim {
  transform: translateX(200%);
  animation: animate-right-to-left 5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animate-right-to-left {
  0% {
    transform: translateX(200%);
    display: flex;
  }

  2%,
  98% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
    display: none;
  }
}